<a href="https://colab.research.google.com/github/haotrinh556-byte/-It/blob/main/CIS2004_Dataset_Explore_%3CThanh_Hao_Trinh%3E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("daily_gym_attendance_workout_data.csv")

In [ ]:
df.head()

,member_id,visit_date,age,gender,membership_type,workout_type,workout_duration_minutes,calories_burned,check_in_time,attendance_status
0,1,2024-10-11,64,Other,Annual,HIIT,28,171,20:04,Absent
1,2,2024-06-01,65,Female,Quarterly,Strength Training,72,650,19:17,Absent
2,3,2024-06-13,45,Male,Quarterly,Cardio,70,633,7:24,Absent
3,4,2024-02-05,35,Female,Monthly,CrossFit,64,362,7:18,Absent
4,5,2024-07-13,26,Female,Quarterly,Yoga,31,262,11:22,Absent

In [ ]:
df.shape

(2600, 10)

In [ ]:
df.columns

Index(['member_id', 'visit_date', 'age', 'gender', 'membership_type',
       'workout_type', 'workout_duration_minutes', 'calories_burned',
       'check_in_time', 'attendance_status'],
      dtype='object')

In [ ]:
df.dtypes

member_id                    int64
visit_date                  object
age                          int64
gender                      object
membership_type             object
workout_type                object
workout_duration_minutes     int64
calories_burned              int64
check_in_time               object
attendance_status           object
dtype: object

In [ ]:
df.isna().sum()

member_id                   0
visit_date                  0
age                         0
gender                      0
membership_type             0
workout_type                0
workout_duration_minutes    0
calories_burned             0
check_in_time               0
attendance_status           0
dtype: int64

In [ ]:
df[df["age"] > 18]

,member_id,visit_date,age,gender,membership_type,workout_type,workout_duration_minutes,calories_burned,check_in_time,attendance_status
0,1,2024-10-11,64,Other,Annual,HIIT,28,171,20:04,Absent
1,2,2024-06-01,65,Female,Quarterly,Strength Training,72,650,19:17,Absent
2,3,2024-06-13,45,Male,Quarterly,Cardio,70,633,7:24,Absent
3,4,2024-02-05,35,Female,Monthly,CrossFit,64,362,7:18,Absent
4,5,2024-07-13,26,Female,Quarterly,Yoga,31,262,11:22,Absent
...,...,...,...,...,...,...,...,...,...,...
2595,2596,2024-07-20,64,Female,Quarterly,Yoga,63,443,19:07,Absent
2596,2597,2024-05-13,22,Other,Quarterly,CrossFit,32,282,8:39,Present
2597,2598,2024-04-27,44,Male,Quarterly,CrossFit,94,875,22:49,Present
2598,2599,2024-12-20,62,Male,Annual,HIIT,58,303,10:38,Present
2599,2600,2024-04-01,62,Female,Annual,Strength Training,65,610,5:42,Present